.admin-container {
    width: auto;
    height: 85vh;
    margin: 5px;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
}

.admin-sidebar{
    width: 15%;
    text-align: center;
    padding-top: 2rem;
    background-color: #3e6579;
}